<html>
  <head>
    <style type="text/css">
    body {
      margin-top: 50px;
      background: <%= background_color %>
    }
  </style>
  </head>
  <body>
    <h1>Guess a number between 1 and 100</h1>
    <h2>
      <%= message %>
    </h2>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>

      <p> The SECRET NUMBER is <%= number %></p>

  </body>
</html>
